# Exercise
Read the file: `product_prices.csv` (separator ';', decimal separator '.') and do the following exercises:

1. Using the `columns` method modify the names of columns to be: `'province', 'product_types', 'currency', 'group_id', 'product_line', 'value', 'date'`<br>
1. Determine the following positional statistics: mean, standard deviation, percentiles: 0, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100%.<br>Do the exercise **in two versions**: using dedicated functions and `describe`.
1. Do you agree with this way of generating these values? Why?

In [1]:
import pandas as pd

file_path = '../01_Data/product_prices.csv'
data = pd.read_csv(file_path, sep=';', decimal='.')

data.head()

,Name,Goods types,Measurement unit,Group ID,Product types,Value,Date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [2]:
data.columns

Index(['Name', 'Goods types', 'Measurement unit', 'Group ID', 'Product types',
       'Value', 'Date'],
      dtype='object')

In [4]:
# Rename columns
data.columns = ['province', 'product_types', 'currency', 'group_id', 'product_line', 'value', 'date']

data.head()

,province,product_types,currency,group_id,product_line,value,date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [13]:
# Calculate positional statistics using dedicated functions
mean_value = data['value'].mean()
std_dev_value = data['value'].std()

percentiles = data['value'].quantile([0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1])


print(f"mean_value: {mean_value}")
print(f"std_dev_value: {std_dev_value}")
print(f"percentils: \n{percentiles}")

mean_value: 6.615226740294512
std_dev_value: 34.11285815820757
percentils:
0.0       0.00
0.1       0.00
0.2       0.00
0.3       0.28
0.4       1.55
0.5       3.09
0.6       5.75
0.7       9.16
0.8      12.73
0.9      17.19
1.0    3000.00
Name: value, dtype: float64

In [8]:
# Calculate positional statistics using describe method

describe_stats = data['value'].describe(percentiles=[0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

describe_stats

count    137088.000000
mean          6.615227
std          34.112858
min           0.000000
0%            0.000000
10%           0.000000
20%           0.000000
30%           0.280000
40%           1.550000
50%           3.090000
60%           5.750000
70%           9.160000
80%          12.730000
90%          17.190000
max        3000.000000
Name: value, dtype: float64

In [ ]:
# Both methods are valid and their use depends on the context and specific requirements of the analysis. 

# The choice between them depends on the specific needs and preferences:

    # Dedicated Functions: 
        # Allow for more control and flexibility. 
        # You can calculate specific statistics and are not limited to the set of statistics provided by describe. 
        # This approach is useful when you need specific metrics or when working with large datasets where calculating only the necessary statistics can save computation time.
    
    # describe Method: 
        # Offers a quick and easy way to get a summary of the data. 
        # It's convenient for an initial exploratory analysis as it provides a range of common statistics without the need for writing multiple lines of code.

## Comment regarding the correctness of the exercise
Summarizing a dataset in this way is not entirely correct because all groups of products (preserves, meat, oat and other products) were treated as comparable. Moreover, because the data is formatted as a time series, all dates were treated the same.

This is commonly known as comparing oranges to apples. These statistics should at least be performed separately for each of the groups, and ideally sub-divided by quarter of the year.