# File conversion

Using `openpyxl` convert the **product_prices_cleaned.csv** file to an Excel file.

In [ ]:
import pandas as pd
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows

In [ ]:
df = pd.read_csv('../../01_Data/product_prices_cleaned.csv', sep=',')
df.head()

In [ ]:
wb = openpyxl.Workbook()
ws = wb.active
 
for i in dataframe_to_rows(df, index=False, header=True):
    ws.append(i)  # save data
 
wb.save('../../01_Data/product_prices_cleaned.xlsx')

# Save the DataFrame to an Excel file using openpyxl as the engine

In [1]:
import pandas as pd
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows

In [2]:
df = pd.read_csv('../../01_Data/product_prices_cleaned.csv', sep=',')
df.head()

,province,product_types,currency,product_group_id,product_line,value,date,product2,product,month,quarter,year
0,SUBCARPATHIA,NaN,PLN,2.0,pork ham cooked - per 1kg,21.37,2013-03-01,pork ham cooked - per 1kg,pork ham cooked - per 1kg,3.0,1.0,2013.0
1,ŁÓDŹ,NaN,PLN,4.0,bread - per 1kg,NaN,2018-02-01,bread - per 1kg,bread - per 1kg,2.0,1.0,2018.0
2,KUYAVIA-POMERANIA,NaN,PLN,2.0,barley groats sausage - per 1kg,3.55,2019-12-01,barley groats sausage - per 1kg,barley groats sausage - per 1kg,12.0,4.0,2019.0
3,LOWER SILESIA,NaN,PLN,2.0,dressed chickens - per 1kg,6.14,2019-02-01,dressed chickens - per 1kg,dressed chickens - per 1kg,2.0,1.0,2019.0
4,WARMIA-MASURIA,NaN,PLN,2.0,Italian head cheese - per 1kg,5.63,2002-03-01,Italian head cheese - per 1kg,Italian head cheese - per 1kg,3.0,1.0,2002.0

In [3]:
df.to_excel('../../01_Data/product_prices_cleaned_3test.xlsx', index=False, engine='openpyxl')