## Selection of data for analysis

Answer the following questions:

1. What was the average price of a carrot and pea mix per 1 kg in Poland in 2015?
2. What was the average price of apple juice in 2016-2018 in the Masovia province?
3. What was the average price of tomato paste in Lower Silesia Province in 2003-2015? Compared with other products does it seem reasonable to you?<br>

Suggest what can be done with values equal to 0. How does this affect the results of point 3?

> All the product groups needed for this task are in the **product_types** column.

In [10]:
import pandas as pd
df = pd.read_csv(
                    '../../01_Data/product_prices_renamed.csv', 
                    sep=';',
                    decimal=','
)

df['value'] = pd.to_numeric(df['value'], errors='coerce')

df.head()

,province,product_types,currency,product_group_id,product_line,value,date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [11]:
df.query('product_types == "frozen carrot and pea mix - per 1kg"').shape[0]

4284

In [12]:
carrot_pea_2015 = df["value"][(df["product_types"] == "frozen carrot and pea mix - per 1kg") &
                 (df["date"] >= "2015-1") & (df["date"] <= "2015-12") &
                 (df["province"] == "POLAND")].mean().round(2)

print(carrot_pea_2015)

0.84

In [13]:

apple_juice_masovia = df["value"][(df["product_types"] == "apple juice, boxed - per 1l") &
                 (df["date"] >= "2016-1") & (df["date"] <= "2018-12") &
                 (df["province"] == "MASOVIA")].mean()

print(apple_juice_masovia)

3.02

In [18]:

print(df["value"][(df["product_types"] == "apple juice, boxed - per 1l") &
                 (df["date"] >= "2016-1") & (df["date"] <= "2018-12") &
                 (df["province"] == "MASOVIA")].mean())

3.02

In [14]:
print(df["value"][(df["product_types"] == "30% tomato concentrate - per 1kg") &
                 (df["date"] >= "2003-1") & (df["date"] <= "2015-12") &
                 (df["province"] == "LOWER SILESIA")].mean())

20.48574324324324

In [15]:
print(df["value"][(df["product_types"] == "30% tomato concentrate - per 1kg") &
                 (df["date"] >= "2003-1") & (df["date"] <= "2015-12") &
                 (df["province"] == "LOWER SILESIA") &
                 (df["value"] != 0)].mean())

252.65750000000003

In [17]:
print(df["value"][(df["product_types"] == "30% tomato concentrate - per 1kg") &
                 (df["date"] >= "2003-1") & (df["date"] <= "2015-12") &
                 (df["province"] == "LOWER SILESIA") &
                 (df["value"] != 0)].shape[0])

12