# Duplicates

Using the **product_prices_renamed.csv** files:

1. check how many rows are duplicated,
1. using `duplicated` check which rows were doubled.
1. using `drop_duplicates`, remove all duplicates from the output dataset (we assume that a row with a duplicate is an error and needs to be removed) - write the result to a new DataFrame.

### Hints:

#### Subsection 2:
To determine, the number of duplicate rows use the source data and the results from subsection 1.

#### Subsection 3:

1. first use `duplicated`, to find duplicated rows,
1. use `loc` to separate them from the output set,
1. use `drop_duplicates` to get only those rows that are duplicated.

In [1]:
import pandas as pd
df = pd.read_csv(
                    '../../01_Data/product_prices_renamed.csv', 
                    sep=';',
                    decimal=','
)

df.head()

,province,product_types,currency,product_group_id,product_line,value,date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [3]:
# How many rows are duplicated
rows = df.shape[0]  # number of rows in the input

rows

149940

In [7]:
# in this case we operate on the full set of columns
# leaving only the first occurrence of a duplicate

df_duplicates = df.drop_duplicates()
 
rows = df_duplicates.shape[0]
rows

128520