# Teoria

In [18]:
import pandas as pd

df = pd.read_csv('../../01_Data/product_prices_renamed.csv', sep=';', decimal=',')

df.head()

,province,product_types,currency,product_group_id,product_line,value,date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [13]:
# Number of rows in the input

all_rows = df.shape[0]  

all_rows

149940

In [10]:
print(df.shape[0])

149940

In [7]:
# Number of rows after cleaning duplicates BUT leaving only the first occurrence of a duplicate (in this case we operate on the full set of columns)

df_duplicates = df.drop_duplicates()
 
rows = df_duplicates.shape[0]
rows

128520

In [11]:
print(df.drop_duplicates().shape[0])

128520

In [9]:
rows = all_rows == rows  # we check if the number of rows is the same

rows

False

In [14]:
print(all_rows == rows)

False

Najjednoduhsi zapis

In [17]:
all_rows = df.shape[0]
print(all_rows)
cleaned_rows = df.drop_duplicates().shape[0]
print(cleaned_rows)
check = all_rows == cleaned_rows

print(check)

149940
128520
False

PROCESSING DATA PART 2

In [19]:
import pandas as pd

df = pd.read_csv('../../01_Data/product_prices_renamed.csv', sep=';', decimal=',')

df.head()

,province,product_types,currency,product_group_id,product_line,value,date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [23]:
raw_rows = df.shape[0] # starting number of rows
raw_rows

149940

In [24]:
notnull_rows = df.dropna(subset=['value']).shape[0]  # count of rows after removing empty values
notnull_rows

137088

In [22]:
raw_rows - notnull_rows

12852