# File conversion

Using `openpyxl` convert the **product_prices_cleaned.csv** file to an Excel file.

In [1]:
import pandas as pd
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows

In [2]:
df = pd.read_csv('../../01_Data/product_prices_cleaned.csv', sep=';')
df.head()

,province,product,value,date,month,quarter,year
0,SUBCARPATHIA,pork ham cooked - per 1kg,21.37,2013-03-01,3,1,2013
1,ŁÓDŹ,bread - per 1kg,NaN,2018-02-01,2,1,2018
2,KUYAVIA-POMERANIA,barley groats sausage - per 1kg,3.55,2019-12-01,12,4,2019
3,LOWER SILESIA,dressed chickens - per 1kg,6.14,2019-02-01,2,1,2019
4,WARMIA-MASURIA,Italian head cheese - per 1kg,5.63,2002-03-01,3,1,2002

In [8]:
wb = openpyxl.Workbook()
ws = wb.active
 
for i in dataframe_to_rows(df, index=False, header=True):
    ws.append(i)  # save data
 
wb.save('../../01_Data/product_prices_cleaned.xlsx')

In [3]:
# Save the DataFrame to an Excel file using openpyxl as the engine
# df.to_excel('../../01_Data/product_prices_cleaned.xlsx', index=False, engine='openpyxl')

In [ ]:
import pandas as pd
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows

df = pd.read_csv('../../01_Data/product_prices_cleaned.csv', sep=';')

wb = openpyxl.Workbook()
ws = wb.active
 
for i in dataframe_to_rows(df, index=False, header=True):
    ws.append(i)  # save data

# SAVE 
wb.save('../../01_Data/product_prices_cleaned.xlsx')
df.to_excel('../../01_Data/product_prices_cleaned.xlsx', index=False, engine='openpyxl')