# Duplicates

Using the **product_prices_renamed.csv** files:

1. check how many rows are duplicated,
1. using `duplicated` check which rows were doubled.
1. using `drop_duplicates`, remove all duplicates from the output dataset (we assume that a row with a duplicate is an error and needs to be removed) - write the result to a new DataFrame.

### Hints:

#### Subsection 2:
To determine, the number of duplicate rows use the source data and the results from subsection 1.

#### Subsection 3:

1. first use `duplicated`, to find duplicated rows,
1. use `loc` to separate them from the output set,
1. use `drop_duplicates` to get only those rows that are duplicated.

In [37]:
import pandas as pd

In [55]:
df = pd.read_csv('../../01_Data/product_prices_renamed.csv', sep=';', decimal='.')
df.head()

,province,product_types,currency,product_group_id,product_line,value,date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [23]:
# Checking how many rows are duplicated

df[df.duplicated()].shape[0]

21420

In [35]:
# Identifying which rows are duplicated
# Get only those rows that are duplicated

duplicates = df[df.duplicated(keep=False)]
duplicates

,province,product_types,currency,product_group_id,product_line,value,date
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
9,PODLASKIE,NaN,PLN,4,plain mixed bread (wheat-rye) - per 1kg,3.86,2017-7
10,WARMIA-MASURIA,NaN,PLN,4,"Poznan wheat flour, bagged - per 1kg",0.95,2009-5
16,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2017-9
19,KUYAVIA-POMERANIA,NaN,PLN,4,"Poznan wheat flour, bagged - per 1kg",1.17,2008-11
...,...,...,...,...,...,...,...
149925,GREATER POLAND,NaN,PLN,4,buckwheat groats roasted whole - per 1kg,0.00,2008-12
149926,POLAND,NaN,PLN,4,buckwheat groats roasted whole - per 1kg,5.10,2016-5
149930,WARMIA-MASURIA,NaN,PLN,4,"Poznan wheat flour, bagged - per 1kg",0.99,2010-10
149937,LESSER POLAND,NaN,PLN,4,plain mixed bread (wheat-rye) - per 1kg,3.05,2008-6
149939,MASOVIA,NaN,PLN,4,Masurian barley groats - per 1kg,0.16,2005-10

In [36]:
duplicates.drop_duplicates()

,province,product_types,currency,product_group_id,product_line,value,date
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
9,PODLASKIE,NaN,PLN,4,plain mixed bread (wheat-rye) - per 1kg,3.86,2017-7
10,WARMIA-MASURIA,NaN,PLN,4,"Poznan wheat flour, bagged - per 1kg",0.95,2009-5
16,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2017-9
19,KUYAVIA-POMERANIA,NaN,PLN,4,"Poznan wheat flour, bagged - per 1kg",1.17,2008-11
...,...,...,...,...,...,...,...
148670,SILESIA,NaN,PLN,4,plain mixed bread (wheat-rye) - per 1kg,4.72,2012-10
148770,LUBLIN,NaN,PLN,4,"Poznan wheat flour, bagged - per 1kg",0.82,2002-6
148971,MASOVIA,NaN,PLN,4,buckwheat groats roasted whole - per 1kg,0.00,2000-9
149146,LUBUSZ,NaN,PLN,4,buckwheat groats roasted whole - per 1kg,0.00,2015-7
149314,LUBUSZ,NaN,PLN,4,"Poznan wheat flour, bagged - per 1kg",1.08,2000-3