# Removing errors
Using the solutions from the previous class and the **product_prices_renamed.csv** file, modify `loc` so that it corrects the errors present in the dataset:

1. In the **date** column, data from 1888 appeared - '1888-0', change the value to 1999-1,
1. In the **date** column, data from 2099 appeared - '2099-13', change the value to 2019-1,
1. There is a spelling error in the **product_types** column - correct it. Number of pieces should be '10pcs.`. Check whether the task was done correctly.
1. Use `loc` to convert the values given in `EUR` to `PLN` with 4.15 exchange rate.
1. Filter from the set those rows where the price for the product is 3000.
Hint: Instead of writing `loc` twice, first query the data for rows where **currency** = `EUR` and save it to a variable.

> Remember that `loc` modifies data irrevocably.

In [1]:
import pandas as pd
df = pd.read_csv(
                    '../../01_Data/product_prices_renamed.csv', 
                    sep=';',
                    decimal=','
)

df.head()

,province,product_types,currency,product_group_id,product_line,value,date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [3]:
df.loc[df['date']=='1888-0', 'date'] = '1999-1'
df.loc[df['date']=='1888-0']  # check for remaining rows

Empty DataFrame
Columns: [province, product_types, currency, product_group_id, product_line, value, date]
Index: []